.about {
  background-color: #191919;
  color: #ffffff;
  padding-left: 2rem;
  margin-top: 3rem;
}

.about-flex {
  display: flex;
}

.about-flex p {
  max-width: 20rem;
}

.about-flex img {
  object-fit: contain;
  height: 18rem;
  width: 15rem;
  margin-top: -3rem;
}

.about-rest p {
  font-size: 12px;
  font-weight: 400;
  max-width: 12rem;
  margin-top: -5rem;
  margin-right: 1rem;
}

#orange-about {
  margin-left: -8rem;
}

.orange-about {
  background-color: #ffbe3f;
  width: 10.3rem;
  height: 0.5rem;
  margin-top: -1.1rem;
}

@media (min-width: 1200px) {
  .about-flex {
    padding-left: 5.5rem;
  }

  #damir {
    font-size: 60px;
    max-width: 35rem;
    margin-right: 37rem;
  }

  .about-rest p {
    margin-left: 16rem;
    max-width: 20rem;
    padding: 1rem;
  }
}
