footer {
  background-color: #191919;
  color: #ffffff;
  /* display: flex; */
  padding: 2rem;
}

footer p {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}

footer span {
  font-weight: bold;
  margin: 0;
}

.copyright img {
  object-fit: contain;
  width: 3rem;
}

.copyright p {
  max-width: 7rem;
}

.footer-flex {
  /* padding-bottom: 2rem; */
  margin-top: 3rem;
}

.footer-flex ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin-left: -0.9rem;
}

footer li {
  font-size: 10px;
  font-weight: 700;
}

.footer-flex li {
  list-style-type: none;
}

.social-flex {
  display: flex;
  /* justify-content: space-around; */
}

.social-flex img {
  margin-right: 1rem;
  object-fit: contain;
}

@media (min-width: 1200px) {
  footer {
    padding-left: 7.5rem;
    display: flex;
  }

  .copyright {
    margin-right: 25rem;
  }

  .social-media p {
    margin-left: -0.8rem;
  }

  .footer-flex li {
    margin-right: 1.5rem;
  }

  .social-flex {
    margin-left: -1rem;
  }

  .copyright p {
    max-width: 8rem;
  }
}
