.mission {
  margin: 6rem 1rem 0 2rem;
  background-color: #ffffff;
}

.mission-flex {
  display: flex;
  color: #4d4d4d;
  font-weight: 400;
}

.small-text p {
  font-size: 15px;
  margin-right: 3rem;
}

.big-text p {
  font-size: 36px;
  font-style: normal;
  margin-top: -0.1rem;
}

.mission-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 35px;
  margin-left: 8rem;
}

.agenda {
  display: flex;
  margin-left: 8rem;
  margin-top: -1rem;
}

.agenda img {
  object-fit: contain;
}

.mission-agenda {
  font-size: 12px;
  font-weight: 700;
  margin-right: 0.4rem;
}

.orange-mission {
  background-color: #ffbe3f;
  width: 9rem;
  height: 0.5rem;
  margin-left: 8rem;
  margin-top: -1rem;
}

@media (min-width: 1200px) {
  .mission {
    margin: 6rem 1rem 0 7.2rem;
  }

  .small-text p {
    margin-right: 25rem;
  }

  .big-text p {
    font-size: 60px;
    max-width: 35rem;
  }

  .mission-text {
    max-width: 24rem;
    margin-left: 40rem;
    margin-top: -2rem;
  }

  .agenda {
    margin-left: 40rem;
  }

  .orange-mission {
    margin-left: 40rem;
  }
}
